#SPDX-License-Identifier: MIT-0
---
# tasks file for manage_sudo
- name: Validate action input
  ansible.builtin.fail:
    msg: "Invalid action. Allowed values: grant or revoke"
  when: sudo_action not in ['grant', 'revoke']

- name: Check if user exists
  ansible.builtin.getent:
    database: passwd
    key: "{{ target_user }}"
  register: user_check
  ignore_errors: yes

#- name: Fail if user does not exist
#  ansible.builtin.fail:
#    msg: "User {{ target_user }} does not exist on the target system."
#  when: user_check.failed or user_check.ansible_facts.getent_passwd is not defined

- name: End host execution if user does not exist
  ansible.builtin.meta: end_host
  when: user_check.failed or user_check.ansible_facts.getent_passwd is not defined


############################################################
# Grant Sudo
############################################################

- name: Grant sudo access
  ansible.builtin.copy:
    dest: "/etc/sudoers.d/{{ target_user }}"
    content: "{{ target_user }} ALL=(ALL) NOPASSWD:ALL"
    owner: root
    group: root
    mode: '0440'
    validate: '/usr/sbin/visudo -cf %s'
  when: sudo_action == "grant"

############################################################
# Revoke Sudo
############################################################

- name: Revoke sudo access
  ansible.builtin.file:
    path: "/etc/sudoers.d/{{ target_user }}"
    state: absent
  when: sudo_action == "revoke"
