---
# This play ensures the rule file is PRESENT ONLY IF 'process_audit_enable_rule' is true.
# If 'process_audit_enable_rule' is false, this play is skipped, and the rule file is left alone.
# Use '04_remove_rule.yml' to explicitly remove it.

- name: "Ensure process exec audit rule file exists"
  ansible.builtin.copy:
    dest: /etc/audit/rules.d/process_exec.rules
    content: |
      -a always,exit -F arch=b64 -S execve -k process_exec
      -a always,exit -F arch=b32 -S execve -k process_exec
    owner: root
    group: root
    mode: '0640'
  become: true
# notify: reload auditd

- name: Restart the service
  command: service auditd restart

- name: Verify the audit rules
  command: sudo auditctl -l