---

- name: "03.0 | Initialize aggregated_results"
  ansible.builtin.set_fact:
    aggregated_results: {}
  run_once: true
  delegate_to: localhost


# This task list runs only once on the Control Node/AWX server.
- name: "03.1 | Aggregate process findings from all hosts"
  ansible.builtin.set_fact:
    aggregated_results: "{{ aggregated_results | default({}) | combine({
      item: hostvars[item].unique_new_processes
    }) }}"
  loop: "{{ ansible_play_hosts }}"
  when:
    - hostvars[item].unique_new_processes is defined
    - hostvars[item].unique_new_processes | length > 0
  run_once: true
  delegate_to: localhost



#- name: "03.2 | Generate and send daily CONSOLIDATED audit report"
#  community.general.mail:
#    host: "{{ report_smtp_server }}"
#    port: 25
#    subject: "CONSOLIDATED PROCESS AUDIT | {{ ansible_date_time.date }}"
#    to: vijaymerugu@rbi.org.in
#    from: "{{ report_sender }}"
#    body: "{{ lookup('ansible.builtin.template', 'consolidated_report.j2') }}"
#  delegate_to: localhost
#  run_once: true
#  when:
#    - process_audit_collect_logs | bool
#    # Only send if at least one host reported new processes
#    - aggregated_results is defined
#    - aggregated_results | length > 0

- name: "03.3 | DEBUG: Print Consolidated Report Template Output"
  ansible.builtin.debug:
    msg: "{{ lookup('ansible.builtin.template', 'consolidated_report.j2') }}"
  delegate_to: localhost
  run_once: true
  when:
    - process_audit_collect_logs | bool
    - aggregated_results is mapping
    - process_audit_always_report | bool
      or aggregated_results | length > 0