---
- name: Check if audit rule already loaded
  command: auditctl -l
  register: auditctl_output
  changed_when: false
  failed_when: false
  become: true

- name: Ensure audit rule file exists
  copy:
    dest: /etc/audit/rules.d/process.rules
    content: |
      -a always,exit -F arch=b64 -S execve -k process_exec
      -a always,exit -F arch=b32 -S execve -k process_exec
    owner: root
    group: root
    mode: '0640'
  register: rule_file
  become: true

- name: Load audit rules only if not already loaded
  command: sudo augenrules --load
#  become: true
  when:
    - "'-k process_exec' not in auditctl_output.stdout"
    - rule_file.changed
