Privileged Access Audit Report
==============================

Sudoers File:
  Path: /etc/sudoers
  Exists: {{ 'Yes' if sudoers_file_stat.exists else 'No' }}
  Mode: {{ sudoers_file_stat.mode if sudoers_file_stat.exists else 'N/A' }}
  Owner: {{ sudoers_file_stat.pw_name if sudoers_file_stat.exists else 'N/A' }}
  Group: {{ sudoers_file_stat.gr_name if sudoers_file_stat.exists else 'N/A' }}

Sudoers.d Directory:
  Path: /etc/sudoers.d
  Exists: {{ 'Yes' if sudoers_d_stat.exists else 'No' }}
  Mode: {{ sudoers_d_stat.mode if sudoers_d_stat.exists else 'N/A' }}
  Owner: {{ sudoers_d_stat.pw_name if sudoers_d_stat.exists else 'N/A' }}
  Group: {{ sudoers_d_stat.gr_name if sudoers_d_stat.exists else 'N/A' }}

Privileged Users:
-----------------
{% for user in privileged_users_info %}
- User: {{ user.user }}
  Home Directory: {{ user.home }}
  SSH authorized_keys present: {{ 'Yes' if user.ssh_auth_keys_exists else 'No' }}
  {% if user.ssh_auth_keys_exists %}
  authorized_keys mode: {{ user.ssh_auth_keys_mode }}
  authorized_keys owner: {{ user.ssh_auth_keys_owner }}
  authorized_keys group: {{ user.ssh_auth_keys_group }}
  {% endif %}
{% endfor %}