---
- name: Master Consolidated Reporting
  hosts: localhost
  gather_facts: true

  tasks:
##################################
#Daily health check section
##################################
    - name: Initialize variables from workflow
      set_fact:
        health_data: "{{ all_health_reports | default([]) }}"

    - name: Filter only critical health alerts
      set_fact:
        critical_health: "{{ health_data | selectattr('alert','equalto', true) | list }}"

##################################
#Process Audit section
##################################
    - name: Initialize process audit data from workflow
      set_fact:
        audit_data: "{{ all_process_audit | default([]) }}"
  
    - name: Filter hosts with new commands
      set_fact:
        critical_audit: "{{ audit_data | selectattr('has_new_commands','equalto', true) | list }}"

##################################
# Password Expiry section
##################################

    - name: Initialize password expiry data from workflow
      set_fact:
        password_data: "{{ password_expiry_metrics | default([]) }}"
    
    - name: Filter hosts with expiring users
      set_fact:
        critical_password: "{{ password_data | selectattr('has_expiring_users','equalto', true) | list }}"



##################################
## MAIN EMAIL SECTION
##################################

    - name: Build Markdown formatted email body
      set_fact:
        combined_email_body: |
          COMBINED MONITORING REPORT
          Generated: {{ ansible_date_time.date }} {{ ansible_date_time.time }}            
          ============================================================
          DAILY HEALTH CHECK – CRITICAL ALERTS
          {% if critical_health | length > 0 %}
          Hostname           CPU Load   Memory%   Disk%
          ----------------------------------------------
          {% for report in critical_health %}
          {{ "%-18s %-10s %-9s %-7s" | format(report.system_hostname, report.cpu_load, report.mem_usage, report.disk_usage | default('N/A')) }}
          {% endfor %}
          {% else %}
          No Critical Health Alerts Detected
          {% endif %}
          ============================================================
          ============================================================
          PROCESS AUDIT NEW COMMANDS
          {% if critical_audit | length > 0 %}
          Hostname           New Commands
          -----------------------------------------------------------
          {% for item in critical_audit %}
          {% if item.new_commands | length > 0 %}
          {{ "%-18s %-s" | format(item.system_hostname, item.new_commands[0]) }}
          {% for cmd in item.new_commands[1:] %}
          {{ "%-18s %-s" | format(" ", cmd) }}
          {% endfor %}
          {% endif %}
          {% endfor %}
          {% else %}
          No new commands detected
          {% endif %}
          ============================================================
          ============================================================
          PASSWORD EXPIRY ALERTS       
          {% if critical_password | length > 0 %}        
          Hostname           User              Days Left
          -----------------------------------------------------------
          {% for host in critical_password %}
          {% for user in host.expiring_users %}
          {{ "%-18s %-17s %-10s" | format(host.system_hostname, user.user, user.password_days_left) }}
          {% endfor %}
          {% endfor %}
          {% else %}
          No expiring passwords detected
          {% endif %}
          ============================================================




    - name: Display formatted email body
      debug:
        msg: "{{ combined_email_body }}"


#    - name: Send consolidated report email
#      community.general.mail:
#        host: 10.35.1.17
#        port: 25
#        to: "{{ email_recepients | join(', ') }}"
#        from: ansible.alerts@rbi.org.in
#        subject: "Combined Monitoring Report – Critical Summary"
#        subtype: html
#        body: "{{ combined_email_body }}"
#      run_once: true

