Patch Report for {{ inventory_hostname }}

Pre-patch Errata Count: {{ errata_pre }}
Post-patch Errata Count: {{ errata_post }}

Packages Updated: {{ include_packages | join(', ') }}
Packages Excluded: {{ exclude_packages | join(', ') }}
