{% for host, cert_output in cert_info_dict.items() %}
https://{{ host.split(':')[0] }}
{{ '-' * (host | length + 8) }}
{% if cert_output %}
{{ cert_output }}
{% else %}
Unable to fetch certificate details.
{% endif %}

{% endfor %}