# password_expiry_report/templates/password_expiry_report.j2

# Password Expiry Report for {{ ansible_hostname }}
# Generated on {{ ansible_date_time.date }}
#
# ---
# User        | Expiry Date              | Days Remaining | Warning Status
# --------------------------------------------------------------------------
{% for user in user_expiry_data %}
{{ "%-12s" | format(user.username) }}| {{ "%-25s" | format(user.expiry_date) }}| {{ "%-15s" | format(user.days_remaining) }}| {% if user.days_remaining != 'never' and user.days_remaining | int < warning_threshold %}WARNING{% endif %}
{% endfor %}