---
- name: Create timestamp for the task
  ansible.builtin.set_fact:
    timestamp: "{{ ansible_date_time.date }}_{{ ansible_date_time.hour }}{{ ansible_date_time.minute }}{{ ansible_date_time.second }}"

- name: Ensure output directory exists
  ansible.builtin.file:
    path: /var/tmp/system_update_audit
    state: directory
    mode: '0755'

- name: Get installed packages details
  ansible.builtin.command: >
    rpm -qa --qf '%{name}\t%{version}-%{release}\t%{installtime:date}\n'
  register: installed_packages_raw
  changed_when: false

- name: Process installed packages into a structured format
  set_fact:
    installed_pkgs_data: "{{ installed_pkgs_data | default({}) | combine({ item.split('\t')[0]: {'version': item.split('\t')[1], 'installed_on': item.split('\t')[2]} }) }}"
  loop: "{{ installed_packages_raw.stdout_lines }}"
  when: item.split('\t') | length == 3


- name: Get list of available updates
  ansible.builtin.command: yum list updates -q
  register: available_updates_raw
  changed_when: false

- name: Process available updates into a structured format
  set_fact:
    available_updates_data: "{{ available_updates_data | default({}) | combine({ pkg_name: pkg_version }) }}"
  vars:
    parts: "{{ item.split() }}"
    pkg_name: "{{ parts[0].split('.')[0] }}"
    pkg_version: "{{ parts[1] }}"
  loop: "{{ available_updates_raw.stdout_lines }}"
  when: item is match('^\\S+\\.\\S+\\s+\\S+')

- name: Build host report using template
  set_fact:
    host_report: "{{ lookup('template', 'host_report.j2') }}"




#- name: Generate final audit report
#  ansible.builtin.copy:
#    dest: "/var/tmp/system_update_audit/system_update_audit_{{ timestamp }}.txt"
#    mode: '0644'
#    content: |
#      Package Name         | Installed Version  | Installed On         | Update Available | Update Version
#      ---------------------|--------------------|----------------------|------------------|--------------------
#      {% set installed_data = installed_pkgs_data | from_json %}
#      {% set updates_data = available_updates_data | from_json %}
#      {% for pkg_name, details in installed_data.items() | sort %}
#        {% set installed_version = details.version %}
#        {% set installed_on = details.installed_on %}
#        {% set update_version = updates_data[pkg_name] | default('N/A') %}
#        {% set update_available_status = 'Yes' if update_version != 'N/A' else 'No' %}
#        {{ '%-20s | %-18s | %-20s | %-16s | %s' | format(
#            pkg_name | truncate(20, True, ''),
#            installed_version | truncate(18, True, ''),
#            installed_on | truncate(20, True, ''),
#            update_available_status,
#            update_version | truncate(18, True, '')
#        ) }}
#      {% endfor %}
#