Generated on: {{ ansible_date_time.date }} {{ ansible_date_time.time }}

User, Expiry Date, Days Left
{% for entry in expiry_info %}
{{ entry.user }}, {{ entry.expiry_date }}, {{ entry.days_left }}
{% endfor %}
